<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.youyou.shopping">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--高德地图定位所需权限-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:name=".SPApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.MainActivity_"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|fontScale"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.LoginActivity_"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="登录"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.RegisterActivity_"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="注册"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.RetrievePasswordActivity_"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="找回密码"
            android:screenOrientation="portrait" />

        <activity
        android:name=".ui.CountryActivity_"
        android:configChanges="orientation|keyboardHidden|screenSize"
        android:label="选择城市"
        android:screenOrientation="portrait" />

        <activity
            android:name=".ui.CategoryDescActivity_"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="商品详情"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ShopCartActivity_"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="购物车"
            android:screenOrientation="portrait" />
        <!--友盟app key-->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="57286378e0f55af999000154"></meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Wandoujia" /><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

</manifest>