<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.youyou.uumall">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <!--高德地图定位所需权限-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!--ssdk-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <application
        android:name="com.youyou.uumall.SPApplication"
        android:allowBackup="true"
        android:icon="@mipmap/desktop_icon_3x"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:launchMode="singleTask"
            android:name="com.youyou.uumall.ui.MainActivity_"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|fontScale"
            android:icon="@mipmap/desktop_icon_3x"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.youyou.uumall.ui.GuideActivity_"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|fontScale"
            android:icon="@mipmap/desktop_icon_3x"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            </activity>

        <activity
            android:name="com.youyou.uumall.ui.LoginActivity_"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="登录"
            android:screenOrientation="portrait" />

        <activity
            android:exported="true"
            android:name="com.youyou.uumall.ui.RegisterActivity_"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="注册"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.youyou.uumall.ui.RetrievePasswordActivity_"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="找回密码"
            android:screenOrientation="portrait" />

        <activity
        android:name="com.youyou.uumall.ui.CountryActivity_"
        android:configChanges="orientation|keyboardHidden|screenSize"
        android:label="选择城市"
        android:screenOrientation="portrait" />

        <activity
            android:name="com.youyou.uumall.ui.CommodityDescActivity_"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="商品详情"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.youyou.uumall.ui.CategoryDescActivity_"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="分类商品列表"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.youyou.uumall.ui.ShopCartActivity_"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="购物车"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.youyou.uumall.ui.CategoryActivity_"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="商品分类"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.youyou.uumall.ui.QueryMainActivity_"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="搜索主页"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.youyou.uumall.ui.ConfirmOrderActivity_"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="确认订单"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.youyou.uumall.ui.DeliveryInfoActivity_"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="编辑取货信息"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.youyou.uumall.ui.PaymentActivity_"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="支付界面"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.youyou.uumall.ui.OrderSubmitActivity_"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="待付款界面"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.OrderConfirmActivity_"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="待发货界面"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.OrderShippingActivity_"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="待收货界面"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.OrderAllActivity_"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="全部订单界面"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.MobileBindingActivity_"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="全部订单界面"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.OrderDetailActivity_"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="订单详情界面"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.SettingActivity_"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="订单详情界面"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.AboutActivity_"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="关于界面"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.BonusActivity_"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="红包界面"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.BrandDescActivity_"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="品牌商品列表"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.WebActivity_"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="品牌商品列表"
            android:screenOrientation="portrait" />

        <activity
            android:theme="@style/transparent"
            android:exported="true"
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="微信登录回调"
            android:screenOrientation="portrait" />

        <activity
            android:exported="true"
            android:name="com.youyou.uumall.wxapi.WXPayEntryActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="微信支付回调"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="wxdfc1314988fb84a9"/>
            </intent-filter>
        </activity>
        <!--ssdk-->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!--友盟app key-->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5746515de0f55af83f0022af">
        </meta-data>

        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="9621da6aa6fb01674e3597da7d0c25b7" >
        </meta-data>
        <!--umeng推广用-->
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="" /><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

</manifest>